.mySelect {
  font-size: 15px;
  padding-left: 5px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 5px;
  padding: 5px 15px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  width: calc(110%);
}

.mySelect:hover {
  background: rgba(51, 51, 51, 0.2);
}

.mySelect:focus {
  background: white;
}
