.headerContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #646464;
    text-align: start;
}

.formCarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 400px;
    height: 41px;
    gap: 10px
}

.selectContainer {
    position: relative;
    min-width: 200px;
    width: auto;
}

.selectHeader {
    background-color: #f8f8f8;
    padding: 10px 10px 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    font-size: 12px;
    margin-left: 10px;
}

.ml-20{margin-left: 20px;}
.mt-1r{margin-top: 1rem;}

.icon{height: 20px;}

.selectList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    scrollbar-width: thin;
    overflow: auto;
    scrollbar-color: #f8f9fa #fff;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.selectListItem {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.selectListItem:hover {
    background-color: #f1f1f1;
}

.selectItem {
    background-color: #e6e6e6;
    cursor: default;
}

.selectCars {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.headerNavIcon {
    display: flex;
    gap: 10px
}

.navIconItem {
    height: 26px;
    width: 26px;
    padding: 4px;
    cursor: pointer;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 50%;
}

.navIconItem:hover {
    background-color: rgba(51, 51, 51, 0.2);
}

.carMaintenanceMenu {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    background: white;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgb(100, 100, 100);
    position: relative;
}

.footer {
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    align-items: center;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 8px;
}

.socialIcons{    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer nav a:hover path {
    fill: #505050
}

.infoFuelFilling {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 10px;
    justify-items: center;
}

.infoOilСhange {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 10px;
    justify-items: center;
}

.oilChangeInterval{text-align: left; margin-top: 10px; font-size: 13px;}

.navMenu {
    display: grid;
    grid-template-rows: auto;
    gap: 15px;
    align-items: center;
}

.navMenuStatistics {
    display: flex;
    gap: 15px;
}

.time {
    display: inline-block;
    vertical-align: top;
    height: 30px;
}

.infoStats {
    display: grid;
}

.textSmall{font-size: 13px;}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
}

table,
th,
td {
    border: 1px solid rgba(51, 51, 51, 0.2);
}

th,
td {
    padding: 5px;
    text-align: center;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

.tab{
    padding: 5px 15px;
    color: rgb(13, 13, 14);
    font-size: 15px;
    background: transparent;
    cursor: pointer;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    transition: transform 200ms ease;
    text-decoration: none;
}

.tab:hover{
    background: rgba(51, 51, 51, 0.2);
    columns: #000;
}

.active-tab {
    border-bottom: 1mm solid gray;
    cursor: default;
}
