*{
  margin: 0;
	padding: 0;
  font-size: 100%;
}

#root{
  display: block;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgba(181, 181, 181, 0.2);
  background: url('/background.png');
}